*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    font-family: sans-serif;
}
.navbar{
    height: 60px;
    width: 100%;
    background-color: black;
    color: white;
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    z-index: 100;
}


.logo{
    /* border: 2px solid white; */
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.logo>svg{
    fill: white;
}
.web-icons{
    /* border: 2px solid white; */
    padding: 10px;
}
.navlinks{
    /* border: 2px solid white; */
    padding: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}
.navlinks>li{
    height: 100%;
    display: flex;
    align-items: center;
    transition: 0.2s;
}
.navlinks a{
    color: white;
    text-decoration: none;
    padding: 7.5px 16px;
    border-radius: 5px;
    transition: 0.2s;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .08em;


}
.navlinks > li:hover>a{
    background-color: #2b2a29;
    color: red;
}
.video-container{
    height: 90vh;
    width: 100%;
    background-color: yellow;
    position: relative;
}

.web-icons{
    /* border: 2px solid white; */
    padding: 10px;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.search-icon{
    /* border: 2px solid white; */
    padding: 8px;
    border-radius: 40%;
    background-color: #2b2a29;
    cursor: pointer;
}

.web-icons > button{
    padding: 8px 16px;
    font-size: 13px;
    border-radius: 10px;
    border: none;
    background-color: #ff3c46;
    font-weight: 500;
    letter-spacing: 0.08em;
    cursor: pointer;
}
.web-icons > .web {
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;

}
.web-icons > .web:hover{
    background-color: #2b2a29;
}
.video-container > video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.hero-content{
    /* border: 2px solid wheat; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-content > h1{
    
    margin: 32px 0 64px;
    font-size: 20px;
    text-transform: uppercase;
    color: #ece8e1;
    font-weight: 400;
    font-family: fantasy;

    
}
.hero-content > button{
    padding: 18px 32px;
    background-color: #ff4655;
    color: #ece8e1;
    /* border: 2px solid white; */
    transition: 0.2s;
    cursor: pointer;
}
.hero-content > button:hover{
    background-color: #ece8e1;
    color: black;
}

/* LATEST SECTION*/
.latest-container{
    background-color: #ece8e1;
    padding: 40px;

}
.latest-container > header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.latest-container h1{
    font-size: 48px;
    font-family: fantasy;
    letter-spacing: 0.028em;
}
.latest-container p{
    font-weight: 600;
}
.card-container{
   /* border: 10px solid black; */
   padding: 20px 0;
   display: grid;
   grid-template-columns: repeat(3,1fr);

   
}
.card{
    /* border: 1px solid black; */
    min-height: 385px;
    max-width: 400px;
    cursor: pointer;

}
.card > figure{
    width: 100%;
    height: 223px;
    overflow: hidden;
    /* border: 5px solid black; */
    position: relative;
}
.card .sharelink{
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 100;
    bottom: 0;
    right: 0;
    background-color: #0f192395;
    border: 0.5px solid #2b2a29;
}
.card img{
    width: 100%;
    height: 100%;
   
    transition: 0.5s;
}
.card:hover img{
    transform: scale(1.1);
}
.card .category{
    color: #2a2a2a;
}
.card .category >span{
    color: #ff4655;
}
.card .title{
    padding: 10px 0;
    font-size: 22px;
}
.card .description{
    font-size: 16px;
    font-weight: 16px;
    
}
/* NEW AGENT SECTION START*/

.agent-container{
    height: 80vh;
    width: 100%;
    position: relative;
}
.agent-container > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.agent-content{
    position: absolute;
    /* border: 2px solid white; */
    right: 5%;
    top: 30%;
    color: #ECE8E1;;
    letter-spacing: 0.08em;
}
.agent-content > h1{
    font-size: 80px;
    font-family: fantasy;
}
.agent-content > p{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;

}
.agent-content > button{
    background-color: #FF4655;;
    color: #ECE8E1;
    padding: 18px 32px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.agent-content > button:hover{
    background-color: #ECE8E1;
    color: #262f38;

}
.gameplay-container{
    height: 75vh;
    width: 100%;
    /* border: 2px solid black; */
    background-image: url("./assets/gameplay-bg.png");
    background-position: center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.gameplay-container > article{
    width: 45%;
    height: 80%;
    /* border: 2px solid black;
     */

}
.gameplay-video-container > video{
    height: 100%;
    width: 100%;
} 
.gameplay-content{
    padding: 8px;
}
.gameplay-content > h1{
    font-size: 80px;
    font-family: fantasy;
    margin-bottom: 16px;
}
.gameplay-content > div{
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;

}
.gameplay-content > p{
    font-size: 14px;
    color: #0f1923;
}
.gameplay-content > button{
    background-color: #ff3c45;
    color: white;
    padding: 18px 32px;
    border: none;
    margin-top: 25px;
    cursor: pointer;
    transition: 0.5s;
}
.gameplay-content > button:hover{
    background-color: #0F1923;
    color: #ECE8E1;
    
}
.your-agent-container{
    height: 90vh;
    width: 100%;
    background-image: url("/assets/your-agent-bg.png");
    background-position: center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.your-agent-container > article{
    height: 90%;
    width: 45%;
    border: 2px solid black;
}
.your-agent-image-container > img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}




